// * {
//     outline: 1px dashed #252b4240;
// }


// ============ RESET ============
*,
*::before,
*::after {
    box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, h6, p, ul, fieldset {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}


ul {
    padding: 0;
    list-style: none;
}

fieldset {
    border: none;
    padding: 0;
    min-width: 0;
}

legend {
    padding: 0;
}

input, button, textarea {
    font-family: inherit;
    font-size: inherit;
}


button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}


input {
    border: none;
    padding: 0;
    font-weight: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}


a {
    text-decoration: none;
    color: inherit;
}


img, svg {
    vertical-align: top;
}


// ============ BASE STYLES ============
html, body {
    min-height: 100%;
 }

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}


body {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    // min-height: 100%;
}


[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 768px) {
    [class*="__container"] {
        max-width: 719px;
    }
}

@media (max-width: 375px) {
    [class*="__container"] {
        max-width: 348px;
        padding: 0 10px;
    }
}

main {
    flex: 1 1 auto;
}


