.page-nav {
    padding: 200px 0 170px;

    &__row {
        display: flex;
        justify-content: space-evenly;
        row-gap: 100px;
        margin: 0 -15px;
    }

    &__column {
        flex: 0 1 33.333%;
        padding: 0 15px;
    }

    .nav-item {
        height: 204px;
        border-radius: 8px;
        padding-top: 116px;
        text-align: center;
        background: url('../images/page/page-nav/shadow.png') center 25px no-repeat $grey;
        position: relative;

        &:hover {
            color: $orange;
        }
        
        &__image {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__title {
            font-size: rem(18);
            line-height: 1.38;
            letter-spacing: rem(1.3);
            text-transform: uppercase;
            color: $black;
            margin-bottom: 15px;
        }

        &__link {
            font-size: rem(13);
            line-height: 1.38;
            letter-spacing: rem(1);
            text-transform: uppercase;
            color: $black;
            padding-right: 20px;
            background: url('../images/page/page-nav/arrow-right.svg') no-repeat center right;
            transition: color 0.3s ease;
            opacity: 0.5;

            &:hover {
                color: $orange;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 148px 0 96px;

        &__row {
            margin: 0 5px;
        }

        &__column {
            padding: 0 5px;
            flex-grow: 1;
            flex-shrink: 0;
        }

        .nav-item {
            background-image: url('../images/page/page-nav/shadow-small.png');
            background-position: center 10px;
            padding-top: 88px;
            max-height: 165px;
            min-width: 223px;

            &__title {
                font-size: rem(15);
                margin-bottom: 17px;
            }
        }
    }

    @media (max-width: 750px) {
        padding: 92px 0 120px;

        &__row {
            flex-wrap: wrap;
        }

        &__column {
            flex: 1 0 100%;
        }
    }

    @media (max-width: 375px) {

        &__row {
            margin: 0;
        }

        &__column {
            flex: 1 0 100%;
            padding: 0;
        }
    }
}

