%main-product-title {
    font-size: rem(56);
    line-height: 1.04;
    letter-spacing: rem(2);
    text-transform: uppercase;
    color: $white;
}

%main-product-text {
    font-weight: 500;
    font-size: rem(15);
    line-height: 1.67;
    color: $white;
    opacity: 0.75;
}

%product-title-h2 {
    font-size: rem(28);
    line-height: 1.35;
    letter-spacing: rem(2);
    text-transform: uppercase;
    color: $black;
}

%button-see-product {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: $orange;
    font-size: rem(13);
    line-height: rem(18);
    letter-spacing: rem(1);
    text-transform: uppercase;
    color: $white;
    padding: 15px 30px;
    transition: background-color 0.4s ease;
    
    &:hover {
        background-color: $orange-light;
    }
}

%line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
