.top-item__title, .header .new-product__title {
  font-size: 3.5rem;
  line-height: 1.04;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #fff;
}

.top-item__text, .header .new-product__text {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.67;
  color: #fff;
  opacity: 0.75;
}

.promo-item-two__title, .promo-item-one__title {
  font-size: 1.75rem;
  line-height: 1.35;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #000;
}

.promo-item-two__link, .promo-item-one__link, .top-item__link, .header .new-product__link {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D87D4A;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 30px;
  transition: background-color 0.4s ease;
}
.promo-item-two__link:hover, .promo-item-one__link:hover, .top-item__link:hover, .header .new-product__link:hover {
  background-color: #FBAF85;
}

.top-item__text, .header .new-product__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, fieldset {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  padding: 0;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=radio] {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img, svg {
  vertical-align: top;
}

html, body {
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  [class*=__container] {
    max-width: 719px;
  }
}
@media (max-width: 375px) {
  [class*=__container] {
    max-width: 348px;
    padding: 0 10px;
  }
}
main {
  flex: 1 1 auto;
}

.header {
  background-color: #131313;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 8px 8px;
}
.header__container {
  position: relative;
}
.header__top {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 15px;
  z-index: 50;
}
.header__top::after {
  content: "";
  height: 1px;
  width: 97.4%;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
}
.header__burger-menu {
  display: none;
  width: 16px;
  height: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
}
.header__burger-menu::after {
  content: "";
  width: 16px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 0;
}
.header__menu {
  flex: 0 1 823px;
  color: #fff;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.header__menu-link {
  font-size: 0.8125rem;
  line-height: 1.92;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.header__menu-link:hover {
  color: #D87D4A;
}
.header__cart {
  transition: transform ease 0.3s;
  margin-left: auto;
}
.header__cart::before {
  content: url("../images/header/cart.svg");
  display: inline-block;
  width: 24px;
  height: 20px;
  vertical-align: bottom;
}
.header__cart:hover {
  transform: scale(1.1);
}
.header .new-product {
  padding: 225px 0 158px;
  background: url("../images/header/new-product/x99_headphones_desktop.svg") no-repeat top right;
}
.header .new-product__item {
  max-width: 400px;
}
.header .new-product__preview {
  margin-bottom: 40px;
}
.header .new-product__preview > :not(:last-child) {
  margin-bottom: 24px;
}
.header .new-product__label {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.35;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
}
.header .new-product__text {
  max-width: 350px;
}
@media (max-width: 1100px) {
  .header .new-product {
    background-position: top center;
    text-align: center;
  }
  .header .new-product__item {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .header__burger-menu {
    display: block;
    margin-right: 42px;
  }
  .header__menu {
    position: absolute;
    top: 100px;
    transform: translateX(-300px);
  }
  .header__menu-list {
    display: block;
  }
  .header .new-product {
    background-image: url("../images/header/new-product/x99_headphones_tablet.svg");
  }
  .header .new-product__text {
    max-width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .header .new-product {
    background-size: cover;
    padding: 198px 0 112px;
  }
  .header .new-product__item {
    max-width: 328px;
  }
  .header .new-product__title {
    font-size: 2.25rem;
    line-height: 1.1;
    letter-spacing: 0.08rem;
  }
  .header .new-product__preview {
    margin-bottom: 24px;
  }
}

.page__top-item, .page__promo-item-one {
  margin-bottom: 48px;
}
.page__promo-page-wrapper > *:not(.page__nav-backlink) {
  padding: 80px 0;
}
.page__promo-item:first-child {
  padding-top: 160px;
}
@media (max-width: 800px) {
  .page__promo-page-wrapper > *:not(.page__nav-backlink) {
    padding: 60px 0;
  }
}

.page-nav {
  padding: 200px 0 170px;
}
.page-nav__row {
  display: flex;
  justify-content: space-evenly;
  row-gap: 100px;
  margin: 0 -15px;
}
.page-nav__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
}
.page-nav .nav-item {
  height: 204px;
  border-radius: 8px;
  padding-top: 116px;
  text-align: center;
  background: url("../images/page/page-nav/shadow.png") center 25px no-repeat #F1F1F1;
  position: relative;
}
.page-nav .nav-item:hover {
  color: #D87D4A;
}
.page-nav .nav-item__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-nav .nav-item__title {
  font-size: 1.125rem;
  line-height: 1.38;
  letter-spacing: 0.08125rem;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
}
.page-nav .nav-item__link {
  font-size: 0.8125rem;
  line-height: 1.38;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #000;
  padding-right: 20px;
  background: url("../images/page/page-nav/arrow-right.svg") no-repeat center right;
  transition: color 0.3s ease;
  opacity: 0.5;
}
.page-nav .nav-item__link:hover {
  color: #D87D4A;
}
@media (max-width: 768px) {
  .page-nav {
    padding: 148px 0 96px;
  }
  .page-nav__row {
    margin: 0 5px;
  }
  .page-nav__column {
    padding: 0 5px;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .page-nav .nav-item {
    background-image: url("../images/page/page-nav/shadow-small.png");
    background-position: center 10px;
    padding-top: 88px;
    max-height: 165px;
    min-width: 223px;
  }
  .page-nav .nav-item__title {
    font-size: 0.9375rem;
    margin-bottom: 17px;
  }
}
@media (max-width: 750px) {
  .page-nav {
    padding: 92px 0 120px;
  }
  .page-nav__row {
    flex-wrap: wrap;
  }
  .page-nav__column {
    flex: 1 0 100%;
  }
}
@media (max-width: 375px) {
  .page-nav__row {
    margin: 0;
  }
  .page-nav__column {
    flex: 1 0 100%;
    padding: 0;
  }
}

.top-item {
  margin-bottom: 48px;
}
.top-item__body {
  border-radius: 8px;
  background-color: #D87D4A;
  background-image: url("../images/page/top-item/zx9-speaker.svg"), url("../images/page/top-item/rings.png");
  background-position: 110px bottom, bottom left;
  background-repeat: no-repeat;
  padding: 11.4% 8.55% 11.2% 0;
}
.top-item__block {
  min-height: 310px;
  max-width: 350px;
  margin-left: auto;
}
.top-item__title {
  margin-bottom: 24px;
}
.top-item__text {
  margin-bottom: 40px;
}
.top-item__link {
  background-color: #000;
}
.top-item__link:hover {
  background-color: #4C4C4C;
}
@media (max-width: 1000px) {
  .top-item {
    margin-bottom: 32px;
  }
  .top-item__body {
    padding: 353px 0 64px;
    background-image: url(../images/page/top-item/zx9-speaker-medium.svg), url(../images/page/top-item/rings-medium.png);
    background-position: center 52px, center top;
  }
  .top-item__block {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .top-item {
    margin-bottom: 24px;
  }
  .top-item__body {
    padding: 294px 0 55px;
    background-image: url(../images/page/top-item/zx9-speaker-small.svg), url(../images/page/top-item/rings-small.png);
    background-position: center 52px, center top;
  }
  .top-item__block {
    min-height: 250px;
  }
  .top-item__title {
    font-size: 2.25rem;
    line-height: 1.1;
    letter-spacing: 0.08rem;
    max-width: 170px;
    margin: 0 auto 24px;
  }
  .top-item__text {
    margin: 0 auto 24px;
    max-width: 280px;
  }
}

.promo-item-one__body {
  background: url("../images/page/promo-item-one/zx7-speaker-bg.svg") top left no-repeat;
  padding: 9% 0 9% 8.55%;
  background-position: center right;
  border-radius: 8px;
}
.promo-item-one__block {
  max-width: 250px;
}
.promo-item-one__title {
  margin-bottom: 32px;
}
.promo-item-one__link {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.promo-item-one__link:hover {
  color: #fff;
  background-color: #000;
}
@media (max-width: 1000px) {
  .promo-item-one {
    margin-bottom: 32px;
  }
  .promo-item-one__body {
    min-height: 320px;
    padding: 101px 0 101px 62px;
    background: url("../images/page/promo-item-one/zx7-speaker-bg-medium.jpg") center right no-repeat;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  .promo-item-one {
    margin-bottom: 24px;
  }
  .promo-item-one__body {
    background: url("../images/page/promo-item-one/zx7-speaker-bg-small.jpg") center right no-repeat;
    background-size: cover;
    padding-left: 24px;
  }
}

.promo-item-two__body {
  display: flex;
  -moz-column-gap: 2.7%;
       column-gap: 2.7%;
  row-gap: 24px;
}
.promo-item-two__column-image {
  flex: 0 1 48.64%;
}
.promo-item-two__column-title {
  background: #F1F1F1;
  border-radius: 8px;
  flex: 0 1 48.64%;
  padding: 9.09% 0 9.09% 8.55%;
  border-radius: 8px;
}
.promo-item-two__image {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
.promo-item-two__block {
  max-width: 260px;
  margin-right: auto;
}
.promo-item-two__title {
  margin-bottom: 32px;
}
.promo-item-two__link {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.promo-item-two__link:hover {
  color: #fff;
  background-color: #000;
}
@media (max-width: 1000px) {
  .promo-item-two__column-image {
    min-height: 320px;
  }
  .promo-item-two__column-title {
    min-height: 320px;
    padding: 101px 0 101px 41px;
  }
}
@media (max-width: 650px) {
  .promo-item-two__body {
    flex-wrap: wrap;
  }
  .promo-item-two__column-image {
    flex: 1 1 100%;
    min-height: 200px;
  }
  .promo-item-two__image {
    width: 100%;
  }
  .promo-item-two__column-title {
    flex: 1 1 auto;
    min-height: 200px;
    padding: 41px 0 41px 24px;
  }
}

.promo-text {
  padding: 200px 0;
}
.promo-text__body {
  display: flex;
  gap: 11.26%;
}
.promo-text__column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo-text__block {
  max-width: 445px;
}
.promo-text__title {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 0.08875rem;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 32px;
}
.promo-text__best {
  color: #D87D4A;
}
.promo-text__text {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #000;
  opacity: 0.5;
}
.promo-text__image {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .promo-text {
    padding: 96px 0;
  }
  .promo-text__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 63px;
  }
  .promo-text__image {
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promo-text__column-text {
    flex-direction: row;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .promo-text {
    padding: 120px 0;
  }
  .promo-text__body {
    row-gap: 40px;
  }
  .promo-text__title {
    font-size: 1.75rem;
    line-height: 1.35;
    letter-spacing: 0.0625pxrem;
  }
}

.footer {
  background-color: #101010;
}
.footer__container {
  position: relative;
}
.footer__container::before {
  content: "";
  display: inline-block;
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
  position: absolute;
}
.footer__body {
  padding: 75px 0 48px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.footer__row-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__row-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 56px;
}
.footer__column-text {
  flex: 1 1 50%;
}
.footer__text, .footer__copyright {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.67;
  color: #fff;
  opacity: 0.5;
}
.footer__text {
  flex: 0 1 50%;
}
.footer__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 34px;
}
.footer__nav-link {
  font-size: 0.8125rem;
  line-height: 1.92;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.3s ease;
}
.footer__nav-link:hover {
  color: #D87D4A;
}
.footer .social-networks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 16px;
  flex: 0 1 50%;
}
.footer .social-networks__path {
  fill: #fff;
  transition: fill 0.5s ease;
}
.footer .social-networks__path:hover {
  fill: #D87D4A;
  cursor: pointer;
}
@media (max-width: 800px) {
  .footer__row-nav {
    row-gap: 32px;
  }
  .footer__row-info {
    flex-wrap: wrap;
    row-gap: 80px;
  }
  .footer__nav {
    flex: 1 1 100%;
  }
  .footer__text {
    flex: 1 1 100%;
  }
  .footer .social-networks {
    order: 1;
    flex-basis: auto;
  }
}
@media (max-width: 460px) {
  .footer__container::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .footer__body {
    padding: 52px 0 38px;
    row-gap: 48px;
  }
  .footer__row-nav {
    justify-content: center;
    row-gap: 48px;
  }
  .footer__row-info {
    row-gap: 48px;
  }
  .footer__nav-list {
    flex-direction: column;
    row-gap: 16px;
  }
  .footer__text {
    text-align: center;
  }
  .footer__copyright {
    flex-basis: 100%;
    text-align: center;
  }
  .footer .social-networks {
    flex-basis: 100%;
    justify-content: center;
  }
}