.header {
    background-color: $black-bg;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 8px 8px;

    &__container {
        position: relative;
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 35px 15px;
        z-index: 50;
        &::after {
            content: "";
            height: 1px;
            width: 97.4%;
            background-color: $white;
            opacity: 0.2;
            position: absolute;
            bottom: -36px;
        }
    }

    &__logo-link {
        flex: 0 1 29.825%;
    }

    &__menu {
        flex: 1 1 auto;
        color: $white;
    }

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 34px;
    }

    &__menu-link {
        font-size: rem(13);
        line-height: 1.92;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: color 0.3s ease;
        &:hover {
            color: $orange;
        }
    }

    &__cart {
        transition: transform 10 ease 0.3s;
        &::before {
            content: url('../images/header/cart.svg');
            display: inline-block;
            width: 24px;
            height: 20px;
            vertical-align: bottom;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .new-product {
        padding: 225px 0 158px;
        background: url('../images/header/new-product/x99_headphones_desktop.svg') no-repeat top right;

        &__item {
            max-width: 400px;
        }

        &__preview {
            margin-bottom: 40px;
            > :not(:last-child) {
                margin-bottom: 24px;
            }
        }

        &__label {
            font-weight: 400;
            font-size: rem(14);
            line-height: 1.35;
            letter-spacing: rem(10);
            text-transform: uppercase;
            color: $white;
            opacity: 0.5;
        }

        &__title {
            @extend %main-product-title;
        }
    
        &__text {
            @extend %main-product-text;
            @extend %line-clamp;
        }

        &__link {
            @extend %button-see-product;
        }
    }
}
