.promo-item-one {
    margin-bottom: 48px;

    &__body {
        background: url('../images/page/promo-item-one/zx7-speaker-bg.svg') top left no-repeat;
        padding: 9% 0 9% 8.55%;
        background-position: center right;
        border-radius: 8px;
    }

    &__block {
        max-width: 250px;
    }

    &__title {
        @extend %product-title-h2;
        margin-bottom: 32px;
    }

    &__link {
        @extend %button-see-product;
        background-color: transparent;
        color: $black;
        border: 1px solid $black;

        &:hover {
            color: $white;
            background-color: $black;
        }

    }
}
