.top-item {
    margin-bottom: 48px;

    &__body {
        border-radius: 8px;
        background-color: $orange;
        background-image: url('../images/page/top-item/zx9-speeaker.svg'), url('../images/page/top-item/rings.png');
        background-position: 110px bottom, bottom left;
        background-repeat: no-repeat;
        padding: 11.40% 8.55% 11.20% 0;
    }

    &__block {
        min-height: 310px;
        max-width: 350px;
        margin-left: auto;
    }

    &__title {
        @extend %main-product-title;
        margin-bottom: 24px;
    }

    &__text {
        @extend %main-product-text;
        @extend %line-clamp;
        margin-bottom: 40px;
    }

    &__link {
        @extend %button-see-product;
        background-color: $black;
        
        &:hover {
            background-color: #4C4C4C;
        }
    }
}